/* body= selecteur (élément) */
body {
    font-family : Arial, Helvetica, sans-serif; /* indique la police de caractère (font)*/
    color: dimgray; /* couleur du text */
    font-size: 16px; /* taille de la font */
   /* font-weight: ;  graisse de la font */
}
h1 {
    color:purple;
}

p{
    color: coral;
}
}

ul{
    color: blue;
    list-style-type: style type circle;
    padding: 0;

 }
nav ul{
    color: bisque;
    list-style-type: none;
}
/* selecteur multiple : les liens situés dans une nav*/
nav a{
    text-decoration: none;
    color: green;
}
nav li{
    display: inline-block;

}
/* gras = selecteur (type class)*/
.gras {
    font-weight: bold;
}
.barre {
    text-decoration: line-through;
}

.souligne {
text-decoration: underline;
}

.italique {
    font-style: italic;
}
.rouge {
    color: red;
}
.bordure {
    border: solid 1px red;
}
/* #paragraphe 2 = selecteur (type id)*/
#paragraphe2  {
    font-size: 20px;
    letter-spacing: 3px;
}
 

